/* style.css */
nav{
	background: rgb(70,106,127); /* Cor de Fundo */
	height: 65px; /* Altura */
	color: rgb(255,255,255); /* Cor do texto */
}
.logo{
	display: inline-block; /* Monta em linha os elementos */
	float: left;
}
.centro{
	width: 960px; /* Largura */
	margin-top: 0; /* margem superior */ 
	margin-left: auto; /* margem esquerda */
	margin-bottom: 0; /* margem  inferior */
	margin-right: auto; /* margem  direita */
}
.menu{
	/*display: inline-block;*/
	text-align: right; /* Alinhamento do texto a direita */
}
.menu-item{
	display: inline; /* Mostra os elementos em linha */
}

.menu-item a{
	color: rgb(255,255,255);
	text-decoration: none; /* Retira o Sublinhado */
}

.menu-item a:hover{
/* RGBA cores R=Red, G=Greem, B=Blue, A = Alpha(Transparencia) */
	background: rgba(255,255,255,0.3);
}

header{
	height: 300px;
	/* Imagem de fundo */
	background: url(../images/bg-header.jpg);
	/* Posição para Alinhamento do BG */
	background-position: top;
	/* Não repete a imagem */
	background-repeat: no-repeat;
	color: rgb(255,255,255);
	text-align: center; /* Alinhamento centralizado do texto */
}
section{
	width: 620px; /* Largura */
	display: inline-block;
	margin-left: 10px; /* Margem a Esquerda */
	margin-right: 10px; /* Margem a Direita */
	float: left; /* Elemento flutuar a esquerda */
}
aside{
	width: 300px;
	display: inline-block;
	margin-left: 10px; /* Margem a Esquerda */
	margin-right: 10px; /* Margem a Direita */
	/*float: left;  Elemento flutuar a direita */
}
img{
	max-width: 100%; /* Largura Máxima */
}
footer{
	height: 100px;
	background: rgb(70,106,127);
	clear: both;
}








