/* style.css */
nav{
	background: rgb(70,106,127); /* Cor de Fundo */
	height: 65px; /* Altura */
	color: rgb(255,255,255); /* Cor do texto */
}

header{
	height: 300px;
	/* Imagem de fundo */
	background: url(../images/bg-header.jpg);
	/* Posição para Alinhamento do BG */
	background-position: top;
	/* Não repete a imagem */
	background-repeat: no-repeat;
	color: rgb(255,255,255);
	text-align: center; /* Alinhamento centralizado do texto */
}
section{
	width: 620px; /* Largura */
	display: inline-block;
	margin-left: 10px; /* Margem a Esquerda */
	margin-right: 10px; /* Margem a Direita */
}
aside{
	width: 300px;
	display: inline-block;
	margin-left: 10px; /* Margem a Esquerda */
	margin-right: 10px; /* Margem a Direita */
}
img{
	max-width: 100%; /* Largura Máxima */
}
footer{
	height: 100px;
	background: rgb(70,106,127);
}
.centro{
	width: 960px; /* Largura */
	margin-top: 0; /* margem superior */ 
	margin-left: auto; /* margem esquerda */
	margin-bottom: 0; /* margem  inferior */
	margin-right: auto; /* margem  direita */
}
.menu{
	/*display: inline-block;*/
	text-align: right; /* Alinhamento do texto a direita */
	padding-top: 10px;
}
.menu-item{
	display: inline; /* Mostra os elementos em linha */
	font-size: 18px;
	font-weight: lighter;
	text-align: right;
	/*text-transform: uppercase;  Transforma o texto em Maiusculas */
}

.menu-item a{
	color: rgb(255,255,255);
	text-decoration: none; /* Retira o Sublinhado */
}

.logo{
	display: inline-block;
	font-weight: lighter; /* Deixa a fonte "light" */
	font-size: 34px;
	float: left;
}
.title{
	display: block;
	font-weight: lighter;
	font-size: 51px;
	line-height: 1.2em; /* Distancia entre linhas */
	/* Sombra no texto - Horizontal, Vertical, Esfumaçado, Cor */
	text-shadow: 1px 1px 0px rgb(70,106,127);
	padding: 50px 0 0 0;
}






